/* --------------------
        全体
-------------------- */

:root {
  --theme-color: #0459b3;
}

* {
  box-sizing: border-box;
}

html, body {
  width: 500px;
  height: 100%;
  margin: auto;
}

body {
  margin: auto;
  padding: 30px;
  color: #333;
  background-color: #cccccc;
}

/* --------------------
        見出し
-------------------- */

h1, h2, h3 {
  padding: 10px 12px;
  color: var(--theme-color);
  border-bottom: dashed 0.1em var(--theme-color);
  background-color: #e6eff8;
  border-left: 5px #ceb7f7;
  border-bottom: 3px #cde2f7;
}

/* --------------------
        リンク
-------------------- */

a {
  color: var(--theme-color);
  text-decoration: none;
}

/* --------------------
        リスト
-------------------- */

ul {
  list-style: none;
}
li:before {
  content: "◎";
  color: var(--theme-color);
}

/* --------------------
          表
-------------------- */

table {
  border-spacing: 0;
  border-collapse: collapse;
  border: solid 1px #f0f0f0;
  min-width: 70%;
}
tr {
  background-color: #fff;
}
tr:nth-child(2n) {
  background-color: #f9f9f9;
}
th {
  background: var(--theme-color);
  color: #fff;
}
th, td {
  border: solid 1px #f0f0f0;
  padding: 0.5rem;
}
