/* --------------------
        全体
-------------------- */

:root {
  --theme-color: #0459b3;
}

* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  margin: auto;
}

body {
  max-width: 1000px;
  padding: 1em;
  color: #333;
  background-color: #110033;
}

p {
  box-shadow: 0 0 0.5em #0459b3cc;
  padding: 0.5em;
  background-color: #ffffff;
}

img {
  max-width: 100%;
  height: auto;
}

/* --------------------
        見出し
-------------------- */

h1, h2, h3 {
  padding: 0.4em 0.5em;
  color: var(--theme-color);
  background-color: #e6eff8;
  border-left: solid 0.8em #ceb7f7;
  border-bottom: solid 0.2em #9484b2;
}

/* --------------------
        リスト
-------------------- */

ul {
  list-style: none;
  padding: 0.5em;
  box-shadow: 0 0 0.2em #0459b33b;
  background-color: #ffffff;
}
li:before {
  content: "◎";
  margin-right: 0.5em;
  color: var(--theme-color);
}
