/* --------------------
        全体
-------------------- */

:root {
  --theme-color: #0459b3;
}

* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  maxwidth: 600%;
  height: 100%;
  margin: auto;
}

body {
  margin-right: auto;
  margin-left: auto;
  padding: 30px;
  color: #333;
  background-color: #cccccc;
}

p {
  box-shadow: 0 0 0.2em #0459b33b;
  pudding: 0.5em;
  background-color: #ffffff;
}

/* --------------------
        見出し
-------------------- */

h1, h2, h3 {
  padding: 0.4em 0.5em;
  color: var(--theme-color);
  border-bottom: dashed 0.1em var(--theme-color);
  background-color: #e6eff8;
  border-left: solid 0.8em #ceb7f7;
  border-bottom: solid 0.2em #9484b2;
}

/* --------------------
        リンク
-------------------- */

a {
  color: var(--theme-color);
  text-decoration: none;
}

/* --------------------
        リスト
-------------------- */

ul {
  list-style: none;
  pudding: 0.5em;
  box-shadow: 0 0 0.2em #0459b33b;
  background-color: #ffffff;
}
li:before {
  content: "◎";
  margin-right: 0.5em;
  color: var(--theme-color);
}

/* --------------------
          表
-------------------- */

table {
  border-spacing: 0;
  border-collapse: collapse;
  border: solid 1px #f0f0f0;
  min-width: 70%;
}
tr {
  background-color: #fff;
}
tr:nth-child(2n) {
  background-color: #f9f9f9;
}
th {
  background: var(--theme-color);
  color: #fff;
}
th, td {
  border: solid 1px #f0f0f0;
  padding: 0.5rem;
}
